@import "tailwindcss";


@layer base {
  html {
    @apply antialiased;
  }
  
  body {
    @apply bg-gray-950 text-white;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-950;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-800 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
